.accordian {
  &__container {
    padding: 3.125rem 1.875rem;
    @include flexColumn;
    text-align: center;
    max-width: 800px;
    margin: auto;
    @media screen and (min-width: 48em) {
      padding: 3.125rem 6.25rem;
    }
  }
  .Questions__container {
    width: 100%;
    padding: 4.125rem 0rem 6.25rem 0rem;
    .questions {
      width: 100%;
      padding: 2rem 0rem;
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: left;
      border-bottom: 1px solid $Grayish-Blue;
      .question {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
          h4 {
            transition: all 300ms ease-in-out;
            color: $Soft-Red;
          }
        }
      }
      .answer {
        display: none;
      }
    }
    .questions.active {
      h4 {
        color: $Soft-Red;
      }
      .answer {
        display: block;
      }
      svg {
        transform: rotate(180deg);
        path {
          stroke: #f00;
        }
      }
    }
    a {
      margin-top: 3.125rem;
    }
  }
}
