.download {
  &__container {
    padding: 3.125rem 1.875rem;
    @include flexColumn;
    text-align: center;
    @media screen and (min-width: 48em) {
      padding: 3.125rem 6.25rem;
    }
  }
  &__para {
    max-width: 35em;
    margin: auto;
  }
  &__cards-box {
    @include flexColumn;
    width: 100%;
    max-width: 350px;
    gap: 50px;
    padding-top: 2.5rem;
    @media screen and (min-width: 60em) {
      flex-direction: row;
      max-width: unset;
    }
    .card {
      width: 100%;
      padding: 30px;
      @include flexColumn;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(83, 104, 223, 0.5);
      background-image: url("../images/bg-dots.svg");
      background-repeat: no-repeat;
      background-position: 0% 70%;
      background-size: contain;
      &:nth-child(2) {
        @media screen and (min-width: 60em) {
          position: relative;
          top: 30px;
        }
      }
      &:nth-child(3) {
        @media screen and (min-width: 60em) {
          position: relative;
          top: 60px;
        }
      }
      a {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
